@mixin iconitem {
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    height: 170px;
    align-items: flex-start;
    justify-content: flex-start;
}

.mar-top {
    margin-top: 20px;
}

.circle-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px whitesmoke;
}

.menu-icon {
    @include iconitem;
    background-image: url("../../../../assets/images/list.png");
}

.search-icon {
    @include iconitem;
    background-image: url("../../../../assets/images/search.png");
}

.main-header {
    color: rgb(22, 176, 248);
    margin: 1em 0 0 0 !important;
    font-size: 1.5em;
}

.sub-heading {
    color: whitesmoke;
    margin: 2px 0 !important;
    font-size: 0.6em;
    font-weight: bold;
}

.main-logo {
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 0 0 150px 150px;
    box-shadow: 0 0 20px 5px whitesmoke;
}

/* Media queries*/

/*Mobile devices*/
@media screen and (min-width: 320px) {
    .header {
        height: 100px;
    }

    .main-header {
        margin: 0.5em 0 0 0 !important;
        font-size: 0.75em;
    }

    .sub-heading {
        font-size: 0.5em;
    }

    .main-logo {
        height: 70px;
        width: 140px;
        border-radius: 0 0 175px 175px;
    }

}

@media screen and (min-width: 480px) {}

/*Tablets, iPad and small screens*/
@media screen and (min-width: 600px) {
    .header {
        height: 130px;
    }

    .main-header {
        margin: 0.75em 0 0 0 !important;
        font-size: 0.85em;
    }

    .sub-heading {
        font-size: 0.65em;
    }

    .main-logo {
        height: 80px;
        width: 160px;
        border-radius: 0 0 160px 160px;
    }

}

@media screen and (min-width: 800px) {}

/*Desktops, laptops*/
@media screen and (min-width: 1024px) {
    .header {
        height: 170px;
    }

    .main-header {
        margin: 1em 0 0 0 !important;
        font-size: 1em;
    }

    .sub-heading {
        font-size: 0.65em;
    }

    .main-logo {
        height: 100px;
        width: 200px;
        border-radius: 0 0 150px 150px;
    }
}

/* Large Screens*/
@media screen and (min-width: 1281) {
    .header {
        height: 170px;
    }

    .main-header {
        margin: 1em 0 0 0 !important;
        font-size: 1.25em;
    }

    .sub-heading {
        font-size: 0.85em;
    }

    .main-logo {
        height: 150px;
        width: 300px;
        border-radius: 0 0 225px 225px;
    }
}