<div class="offer-container flex general-container">
    <div class="main-header">
        <p class="sub-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <p class="main-heading"> Lorem ipsum dolor sit amet</p>
    </div>
    <div class="content-columns flex">
        <div class="content-col-sub flex-1">
            <span class="content-col-img content-img1"></span>
            <p class="main-heading-col"> Lorem ipsum dolor sit amet</p>
            <p class="sub-content-col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illo nulla vel,</p>
        </div>
        <div class="content-col-sub flex-1">
            <span class="content-col-img content-img2"></span>
            <p class="main-heading-col"> Lorem ipsum dolor sit amet</p>
            <p class="sub-content-col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illo nulla vel,</p>
        </div>
        <div class="content-col-sub flex-1">
            <span class="content-col-img content-img3"></span>
            <p class="main-heading-col"> Lorem ipsum dolor sit amet</p>
            <p class="sub-content-col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illo nulla vel,</p>
        </div>
        <div class="content-col-sub flex-1">
            <span class="content-col-img content-img4"></span>
            <p class="main-heading-col"> Lorem ipsum dolor sit amet</p>
            <p class="sub-content-col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illo nulla vel,</p>
        </div>
    </div>
    <div class="button-holder">
        <button class="general-btn">CHECK OUR OFFER</button>
    </div>
</div>