<div class="testimonial-container flex general-container"> 
    <div class="section flex flex-1">
        <div class="img-holder img-holder1 flex-1">
            <div class="app-img-holder"></div>
         </div>
         <div class="cont-holder cont-holder1 flex-1 flex just-right">
             <div class="cont-wrapper cont-wrapper1">
                 <p class="main-heading">Template is awsome</p>
                 <p class="sub-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laborum asperiores eveniet, distinctio explicabo earum rem nihil.</p>
                <span class="author-name">
                    <p class="name">
                        John Deo
                    </p>
                    <p class="title">
                        CEO at Crios.com
                    </p>
                </span>
             </div>
             
         </div>
    </div>
</div>
