<div class="content-container flex general-container">
    <div class="section flex flex-1">
        <div class="img-holder img-holder1 flex-1"></div>
        <div class="cont-holder cont-holder1 flex-1 flex just-left">
            <div class="cont-wrapper cont-wrapper1">
                <p class="main-heading"> Lorem ipsum dolor</p>
                <p class="sub-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laborum
                    asperiores eveniet, distinctio explicabo earum rem nihil.</p>
            </div>

        </div>
    </div>
    <div class="section flex flex-1">
        <div class="cont-holder cont-holder1 flex-1 flex">
            <div class="cont-wrapper">
                <p class="main-heading"> Lorem ipsum dolor</p>
                <p class="sub-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos consectetur
                    voluptas placeat deserunt vel quae, inventore ad?</p>
            </div>
        </div>
        <div class="img-holder img-holder2 flex-1"></div>
    </div>

</div>
